extends ../../../layout

block content
  section.py-5.text-center
    div.container
      h1.display-1.fw-bold.text-danger 403
      h2.mb-4 Không có quyền truy cập
      p.text-muted Bạn không có quyền xem trang này.
      a.btn.btn-primary.px-5.py-3(href="/") Về trang chủ