
footer.bg-dark.text-white.py-5.mt-auto
  .container
    .row
      .col-md-4.mb-4
        h5 TicketEvent
        p Nền tảng mua vé sự kiện trực tuyến hàng đầu Việt Nam.
      .col-md-4.mb-4
        h5 Liên kết nhanh
        ul.list-unstyled
          li
            a.text-white.text-decoration-none(href="/") Trang chủ
          li
            a.text-white.text-decoration-none(href="/events/category/all") Sự kiện
      .col-md-4.mb-4
        h5 Liên hệ
        p
          i.fas.fa-envelope.me-2
          | support@ticketevent.vn
        p
          i.fas.fa-phone.me-2
          | 1900 1234
    .text-center.mt-4
      p &copy; #{new Date().getFullYear()} TicketEvent. All rights reserved.